body {
  font-family: sans-serif;
  background-color: rgb(201, 190, 232)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.ordersTable {
  border-collapse: border;
  border: 1px solid #222222;
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 5px
}

td {
  padding: 8px
}
